* {margin: 0; padding: 0; box-sizing: border-box}

/* header */
#header {
    height: 60px;
    width: 100%;
    background: #252525;
}

#header ul.left {
    margin-left: 90px;
    position: relative;
}

#header ul.left li a:hover {
    text-decoration: underline;
    color: red;
}

#header ul.left li.an {
    font-family: tahoma;
    font-size: 20px;
    border: none;
    color: white;
    float: left;
    list-style: none;
    padding-right: 10px;
    line-height: 60px;
}

#header ul.left li.an img {
    border-radius: 25px;
    margin-top: 5px;
    line-height: 0px;
    width: 50px;
    height: 50px;
}

#header ul.left li.an span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}

#header ul.left .anhTenMuiTen:hover {
    cursor: pointer;
}

#header ul.left #dangXuat {
    position: absolute;
    line-height: 0px;
    left: 0px;
    display: none;
}

#header ul.left #dangXuat input {
    width: 200px;
    height: 50px;
    border: none;
    font-family: tahoma;
    font-size: 20px;
    color: white;
    background: #252525;
}

#header ul.left #dangXuat input:hover {
    background: white;
    border: 3px solid #252525;
    border-top: none;
    color: #bd9c50;
    font-weight: bold;
    cursor: pointer;
}

/* menu */
#menu {
    width: 100%;
    height: 150px;
}

#menu input {
    margin-left: 90px;
    margin-top: 30px;
    float: left;
}

#menu ul {
    margin-right: 90px;
}

#menu ul li {
    float: right;
    list-style: none;
    font-family: tahoma;
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    line-height: 150px;
}

#menu ul li a {
    text-decoration: none;
    color: black;
}

#menu ul li span.dropdown {
    border: solid black;
    border-width: 0px 1px 1px 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-bottom: 3px
}

#menu ul li.tang0 {
    position: relative;
}

#menu ul li.tang0 ul.tang1 {
    position: absolute;
    left: 20px;
    display: none;
    background: white;
    z-index: 1;
}

#menu ul li.tang0 ul.tang1 li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #C5B7B7;
    font-size: 17px;
    padding: 0px 0px 0px 15px;
}

#menu ul li a:hover {
    color: #bd9c50;
}

#menu ul li.tang0:hover ul.tang1 {
    display: block;
}

#menu ul li.tang0 ul.tang1 li.tang2 span {
    float: right;
    margin-right: 10px;
    color: #C5B7B7;
}

#menu ul li.tang0 ul.tang1 li.tang2 {
    position: relative;
}

#menu ul li.tang0 ul.tang1 li.tang2 ul {
    position: absolute;
    left: 100%;
    top: 0px;
    display: none;
    border-left: 1px solid #C5B7B7;
    background: white;
    z-index: 1;
}

#menu ul li.tang0 ul.tang1 li.tang2:hover ul {
    display: block;
}

#menu ul li.tang0 ul.tang1 li:hover>a {
    color: #bd9c50;
}

/* banner */
#banner {
    width: 100%;
    position: relative;
    background: #eeeeee;
    height: 800px;
}

#banner img {
    width: 100%;
    height: 500px;
}

#banner .bannerCon {
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
}

#banner .bannerCon p {
    font-size: 55px;
    font-family: tahoma;
    color: #ffecb1;
    margin: 100px 0px 100px 0px;
}

#banner .bannerCon ul {
    width: 100%;
    height: 60px;
    background: #f5f5f5;
    padding-left: 90px;
    display: block;
    line-height: 60px;
    text-align: left;
}

#banner .bannerCon ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    font-family: tahoma;
    font-size: 15px;
    color: #636363;
}

#banner .bannerCon ul li span.thoi {
    display: block;
    background: #636363;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

#banner .bannerCon .dangNhap {
    width: 100%;
    background: #eeeeee;
}

#banner .bannerCon .dangNhap .sai {
    font-family: tahoma;
    font-size: 15px;
    color: red;
    display: block;
}

#banner .bannerCon .dangNhap .titleDangNhap {
    font-family: tahoma;
    font-size: 25px;
    margin: 100px 0px 35px 0px;
    display: inline-block;
}

#banner .bannerCon .dangNhap input.text {
    width: 700px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
}

#banner .bannerCon .dangNhap input.submit {
    width: 140px;
    height: 40px;
    background: #bda87f;
    border: none;
    font-family: tahoma;
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

#banner .bannerCon .dangNhap input.submit:hover {
    background: #222222;
    cursor: pointer;
}

/* trên footer */
#trenFooter {
    width: 100%;
    text-align: center;
}

#trenFooter ul {
    display: inline-block;
    margin: 50px 3% 50px 3%;
}

#trenFooter ul li {
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
    font-family: tahoma;
    font-size: 17px;
    transition: transform .3s linear;
}

#trenFooter ul li.x {
    font-size: 20px;
    font-weight: bold;
    color: #bd9c50;
    margin-bottom: 40px
}

#trenFooter ul li:hover {
    transform: translate(10px);
    text-decoration: underline;
    cursor: pointer;
}

#trenFooter ul li.y img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

#trenFooter ul li.y:hover {
    transform: translate(0px);
    text-decoration: none;
    cursor: auto;
}

/* footer */
#footer {
    width: 100%;
    background: #1f1f1f;
    height: 65px;
}

#footer ul {
    float: right;
    line-height: 65px;
    margin-right: 50px
}

#footer ul li {
    float: right;
    list-style: none;
    font-family: tahoma;
    font-size: 17px;
    margin-left: 15px;
    color: white;
}

#footer p {
    font-family: tahoma;
    color: #888888;
    font-size: 17px;
    margin-left: 50px;
    line-height: 65px;
    float: left;
}

#footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#footer span.white {
    color: white;
}

#footer span.white:hover {
    text-decoration: underline;
    cursor: pointer
}