* {margin: 0; padding: 0; box-sizing: border-box}

/* header */
#header {
    height: 60px;
    width: 100%;
    background: #252525;
}

#header ul.left {
    margin-left: 90px;
    position: relative;
}

#header ul.left li a:hover {
    text-decoration: underline;
    color: red;
}

#header ul.left li.an {
    font-family: tahoma;
    font-size: 20px;
    border: none;
    color: white;
    float: left;
    list-style: none;
    padding-right: 10px;
    line-height: 60px;
}

#header ul.left li.an img {
    border-radius: 25px;
    margin-top: 5px;
    line-height: 0px;
    width: 50px;
    height: 50px;
}

#header ul.left li.an span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}

#header ul.left .anhTenMuiTen:hover {
    cursor: pointer;
}

#header ul.left #dangXuat {
    position: absolute;
    line-height: 0px;
    left: 0px;
    display: none;
}

#header ul.left #dangXuat input {
    width: 200px;
    height: 50px;
    border: none;
    font-family: tahoma;
    font-size: 20px;
    color: white;
    background: #252525;
}

#header ul.left #dangXuat input:hover {
    background: white;
    border: 3px solid #252525;
    border-top: none;
    color: #bd9c50;
    font-weight: bold;
    cursor: pointer;
}

/* body */
#body {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

#body .sanPham {
    margin-bottom: 100px;
}

#body .sanPham .sanPhamLeft {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

#body .sanPham .sanPhamLeft img:hover {
    cursor: pointer;
}

#body .sanPham .sanPhamRight {
    display: inline-block;
}

#body .sanPham .sanPhamRight form {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: space-between;
    font-family: tahoma;
    text-align: left;
    font-size: 25px;
    height: 355px;
}

#body .sanPham .sanPhamRight .nut input {
    width: 140px;
    height: 50px;
    font-size: 20px;
}

#body .sanPham .sanPhamRight .nut input:hover {
    cursor: pointer;
}

#body .sanPham .sanPhamRight .nut input.sua {
    color: white;
    background: #bda87f;
    border: none;
}

#body .sanPham .sanPhamRight .nut input.xoa {
    color: #bda87f;
    border: 2px solid #bda87f;
    background: white;
}

#body .sanPham .sanPhamRight .nut input.xoa:hover {
    color: white;
    background: #bda87f;
    border: none;
}

#body .sanPham .sanPhamRight .txt label {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}

#body .sanPham .sanPhamRight .txt input {
    height: 50px;
    width: 400px;
    padding-left: 10px;
}