.doan1{
	font-size: 20px;
	font-style: italic;
	color: red
}
.doan2{
	font-size: 20px;
	font-style: italic;
	color: blue
}
.doan3{
	font-size: 20px;
	font-style: italic;
	color: green
}
.sao{
	color: brown;
	font-style: italic;
}
