* {margin: 0; padding: 0; box-sizing: border-box}

/* header */
#header {
	height: 60px;
	width: 100%;
	background: #252525;
}

#header ul.left {
	margin-left: 90px;
}

#header ul.left li {
	text-align: center;
	float: left;
	width: 150px;
	list-style: none;
	line-height: 60px;
	border-right: 1px solid white;
	font-family: tahoma;
	font-size: 20px;
}

#header ul.left li a {
	text-decoration: none;
	color: #bd9c50;
}

#header ul.right {
	margin-right: 90px;
}

#header ul.right li {
	float: right;
	list-style: none;
	border-right: 1px solid white;
	line-height: 60px;
	padding: 0px 20px 0px 20px;
	font-family: tahoma;
	font-size: 20px;
}

#header ul.right li a {
	text-decoration: none;
	color: white;
}

#header ul.right li a span {
	color: #bd9c50;
}

#header ul.right li.gio input {
	margin-right: 10px
}

#header ul.left li a:hover {
	text-decoration: underline;
	color: red;
}

#header ul.right li.find {
	position: relative;
}

#header ul.right li.find div.hidden {
	position: absolute;
	left: 0px;
	display: none;
	float: left;
	width: 250px;
	height: 50px;
	line-height: 50px;
	background: #111111;
	z-index: 1
}

#header ul.right li.find div.hidden input.text {
	height: 50px;
	width: 200px;
	margin-right: 12px;
	background: #111111;
	border: none;
	color: #bd9c50;
	font-size: 20px;
	font-family: tahoma;
	padding-left: 10px;
}

/* menu */
#menu {
	width: 100%;
	height: 150px;
}

#menu input {
	margin-left: 90px;
	margin-top: 30px;
	float: left;
}

#menu ul {
	margin-right: 90px;
}

#menu ul li {
	float: right;
	list-style: none;
	font-family: tahoma;
	font-size: 20px;
	padding: 0px 30px 0px 30px;
	line-height: 150px;
}

#menu ul li a {
	text-decoration: none;
	color: black;
}

#menu ul li span.dropdown {
	border: solid black;
    border-width: 0px 1px 1px 0;
	width: 10px;
	height: 10px;
    display: inline-block;
    padding: 3px;
	transform: rotate(45deg);
	margin-bottom: 3px
}

#menu ul li.tang0 {
	position: relative;
}

#menu ul li.tang0 ul.tang1 {
	position: absolute;
	left: 20px;
	display: none;
	background: white;
	z-index: 1;
}

#menu ul li.tang0 ul.tang1 li {
	width: 200px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #C5B7B7;
	font-size: 17px;
	padding: 0px 0px 0px 15px;
}

#menu ul li a:hover {
	color: #bd9c50;
}

#menu ul li.tang0:hover ul.tang1 {
	display: block;
}

#menu ul li.tang0 ul.tang1 li.tang2 span {
	float: right;
	margin-right: 10px;
	color: #C5B7B7;
}

#menu ul li.tang0 ul.tang1 li.tang2 {
	position: relative;
}

#menu ul li.tang0 ul.tang1 li.tang2 ul {
	position: absolute;
	left: 100%;
	top: 0px;
	display: none;
	border-left: 1px solid #C5B7B7;
	background: white;
	z-index: 1;
}

#menu ul li.tang0 ul.tang1 li.tang2:hover ul {
	display: block;
}

#menu ul li.tang0 ul.tang1 li:hover>a {
	color: #bd9c50;
}

/* banner */
#banner {
	width: 100%;
	position: relative;
}

#banner img {
	width: 100%;
}

#banner ul {
	position: absolute;
	bottom: 30px;
	left: 41%;
}

#banner ul li {
	text-align: center;
	float: left;
	list-style: none;
	width: 50px;
	height: 50px;
	border: 3px solid white;
	margin-right: 50px;
	line-height: 48px;
	position: relative;
	transform: rotate(45deg)
}

#banner ul li span {
	position: absolute;
	left: 19px;
	transform: rotate(-45deg);
	color: white;
	font-family: tahoma;
}

#banner ul li:hover {
	background: #bd9c50;
	font-weight: bold;
	cursor: pointer;
}

/* dưới banner */
#duoiBanner {
	width: 100%;
	text-align: center;
}

#duoiBanner div {
	display: inline-block;
	text-align: center;
}

#duoiBanner div div {
	width: 25%;
	margin: 40px 15px 0px 15px
}

#duoiBanner div div a img {
	width: 100%;
}

#duoiBanner div div a img:hover {
	opacity: 0.7;
	transition: 0.5s;
}

/* phía trên sản phẩm bán chạy */
#trenSanPhamBanChay {
	width: 100%;
	height: 200px;
	text-align: center;
}

#trenSanPhamBanChay a {
	line-height: 200px;
	font-family: tahoma;
	font-size: 30px;
	color: #bd9c50;
	text-decoration: none;
	margin: 0px 40px 0px 40px
}

/* bán chạy */
#banChay {
	width: 100%;
	text-align: center;
}

#banChay a {
	text-decoration: none;
	display: inline-block;
	margin: 0px 15px 25px 15px;
	width: 30%;
	position: relative;
}

#banChay .sanPham img {
	width: 100%;
}

#banChay .sanPham p {
	font-family: tahoma;
	font-size: 17px;
	color: #333333;
	margin-top: 10px;
	text-align: left;
}

#banChay a:hover p.tenBanChay {
	color: #bd9c50;
	font-weight: bold
}

#banChay .sanPham input {
	width: 30%;
	height: 50px;
	background: none;
	border: 2px solid white;
	color: white;
	font-family: tahoma;
	font-size: 15px;
}

#banChay .sanPham form {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 35%;
	visibility: hidden;
}

#banChay a:hover form {
	visibility: visible;
	transform: rotate(360deg);
	transition: transform 0.7s;
	transition-property: visibility, transform;
	transition-delay: 0.5s, 1s;
}

#banChay a:hover img {
	filter: brightness(50%);
}

#banChay .sanPham form input:hover {
	background: #bd9c50;
}

#banChay a:hover input {
	transform: rotate(360deg);
	transition: transform 1.5s;
	transition-delay: 0.5s;
}

/* xem thêm */
#xemThem {
	width: 100%;
	text-align: center;
	position: relative;
}

#xemThem button {
	width: 140px;
	height: 40px;
	background: none;
	font-family: tahoma;
	font-size: 17px;
	color: #bd9c50;
	border: 2px solid #bd9c50;
	margin: 50px 0px 80px 0px
}

#xemThem button:hover {
	color: white;
	background: #bd9c50;
}

#xemThem>img {
	width: 100%;
}

#khuyenMai {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 230px;
}

#khuyenMai .khuyenMaiCon {
	width: 30%;
	display: inline-block;
	padding: 0px 20px 0px 20px
}

#khuyenMai .khuyenMaiCon p {
	font-family: tahoma;
	font-size: 20px;
	color: white;
	margin-top: 30px
}

#khuyenMai .khuyenMaiCon img:hover {
	transform: scale(1.2, 1.2);
}

#khuyenMai .khuyenMaiCon img {
	transition: transform .3s linear;
	cursor: pointer;
}

/* nhãn hiệu */
#nhanHieu {
	position: absolute;
	top: 650px;
	width: 100%;
}
#nhanHieu img {
	height: 130px;
	background: #f5f5f5;
	transition: transform .3s linear;
}

#nhanHieu img:hover {
	transform: scale(.8, .8);
	cursor: pointer;
} 

/* trên footer */
#trenFooter {
	width: 100%;
	text-align: center;
}

#trenFooter ul {
	display: inline-block;
	margin: 50px 3% 50px 3%;
}

#trenFooter ul li {
	list-style: none;
	margin-bottom: 10px;
	text-align: left;
	font-family: tahoma;
	font-size: 17px;
	transition: transform .3s linear;
}

#trenFooter ul li.x {
	font-size: 20px;
	font-weight: bold;
	color: #bd9c50;
	margin-bottom: 40px
}

#trenFooter ul li:hover {
	transform: translate(10px);
	text-decoration: underline;
	cursor: pointer;
}

#trenFooter ul li.y img {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}

#trenFooter ul li.y:hover {
	transform: translate(0px);
	text-decoration: none;
	cursor: auto;
}
/* footer */
#footer {
	width: 100%;
	background: #1f1f1f;
	height: 65px;
}

#footer ul {
	float: right;
	line-height: 65px;
	margin-right: 50px
}

#footer ul li {
	float: right;
	list-style: none;
	font-family: tahoma;
	font-size: 17px;
	margin-left: 15px;
	color: white;
}

#footer p {
	font-family: tahoma;
	color: #888888;
	font-size: 17px;
	margin-left: 50px;
	line-height: 65px;
	float: left;
}

#footer ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}

#footer span.white {
	color: white;
}

#footer span.white:hover {
	text-decoration: underline;
	cursor: pointer
}
