<form>
  <div class="form-group form-inline">
    Full text search: <input class="form-control ml-2" type="text" name="searchTerm" />
    <!-- <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span> -->
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="maNV">Mã nhân viên</th>
        <th scope="col" sortable="taiKhoan">Tài khoản</th>
        <th scope="col" sortable="matKhau">Mật khẩu</th>
        <th scope="col" sortable="hoTen">Họ tên</th>
        <th scope="col" sortable="vaiTro">Vai trò</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nv of lstNhanVien">
        <th scope="row">{{ nv.maNV }}</th>
        <td>
          <ngb-highlight [result]="nv.taiKhoan" [term]=""></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="nv.matKhau" [term]=""></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="nv.hoTen" [term]=""></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="nv.vaiTro ? 'Trưởng phòng' : 'Nhân viên'" [term]=""></ngb-highlight>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination> -->

    <!-- <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select> -->
  </div>

</form>