<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
</head>
<body>
<div>
    <h2>HTML Forms</h2>

    <form action="/thanks4submit" method="post">
        <label for="f">FACTOR_CODE:</label><br>
        <input type="text" id="f" name="fc"><br>
        <label for="d">DESCRIPTION:</label><br>
        <input type="text" id="d" name="des"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
</div>
</body>
</html>