<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>Your table name</div>
      <div>
        <a th:href="@{/add}">Add Employee</a>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="employee : ${employees}">
              <td th:text="${employee.name}"></td>
              <td th:text="${employee.age}"></td>
              <td>
                <a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
