<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>DangNhap</servlet-name>
        <servlet-class>Controller.DangNhap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DangNhap</servlet-name>
        <url-pattern>/DangNhap</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DangKy</servlet-name>
        <servlet-class>Controller.DangKy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DangKy</servlet-name>
        <url-pattern>/DangKy</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GioHang</servlet-name>
        <servlet-class>Controller.GioHang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GioHang</servlet-name>
        <url-pattern>/GioHang</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TaiKhoan</servlet-name>
        <servlet-class>Controller.TaiKhoan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaiKhoan</servlet-name>
        <url-pattern>/TaiKhoan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DoiMatKhau</servlet-name>
        <servlet-class>Controller.DoiMatKhau</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoiMatKhau</servlet-name>
        <url-pattern>/DoiMatKhau</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuanLySanPham</servlet-name>
        <servlet-class>Controller.QuanLySanPham</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuanLySanPham</servlet-name>
        <url-pattern>/QuanLySanPham</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Them_Sua_SanPham</servlet-name>
        <servlet-class>Controller.Them_Sua_SanPham</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Them_Sua_SanPham</servlet-name>
        <url-pattern>/Them_Sua_SanPham</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>TrangChu.jsp</welcome-file>
    </welcome-file-list>
</web-app>
