*{margin: 0; padding: 0; box-sizing: border-box}

#body {
	text-align: center;
	width: 100%;
	height: 300px;
}

#body table {
	display: inline;
}

td {
	padding: 10px;
	text-align: center;
}

th {
	padding: 10px;
}